@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/fonts/Axiforma-Regular.ttf') format('truetype');
  font-style: normal;
}

body {
  background-color: #181818;
  font-family: 'Axiforma';
}

.gr {
  background-color: #ffffff0c;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .budgetCard {
    @apply w-[100%] p-5 border border-primaryGreen cursor-pointer rounded-3xl;
  }
  .input {
    @apply h-[60px] w-[100%] px-5 text-white rounded-[30px] border outline-none border-primaryGreen bg-inherit;
  }
  .header {
    @apply text-white text-xl font-bold;
  }
  .page {
    @apply h-[100vh] flex flex-col px-5 items-center;
  }
  .flex-center-x {
    @apply flex justify-center;
  }
  .flex-center-y {
    @apply flex flex-col items-center;
  }
}

/*dissables highlighting on double-click and generally*/
* {
  -webkit-touch-callout: none; /* Disable callouts on iOS */
  -webkit-user-select: none; /* Disable selection on WebKit */
  -khtml-user-select: none; /* Disable selection on Konqueror HTML */
  -moz-user-select: none; /* Disable selection on Mozilla Firefox */
  -ms-user-select: none; /* Disable selection on Internet Explorer/Edge */
  user-select: none; /* Disable selection on other browsers */
}

.bg-grad {
  background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 0%) 0%,
    hsl(120deg 100% 7%) 14%,
    hsl(128deg 100% 8%) 21%,
    hsl(143deg 100% 9%) 26%,
    hsl(149deg 100% 10%) 30%,
    hsl(153deg 100% 12%) 35%,
    hsl(155deg 100% 14%) 39%,
    hsl(157deg 100% 16%) 43%,
    hsl(159deg 100% 18%) 46%,
    hsl(160deg 100% 20%) 50%,
    hsl(162deg 100% 22%) 54%,
    hsl(163deg 100% 24%) 57%,
    hsl(164deg 100% 26%) 61%,
    hsl(165deg 100% 28%) 65%,
    hsl(165deg 100% 30%) 69%,
    hsl(166deg 100% 32%) 74%,
    hsl(167deg 100% 34%) 79%,
    hsl(167deg 100% 36%) 86%,
    hsl(168deg 99% 38%) 100%
  );
}